<table align="center" cellspacing="0" cellpadding="0" border="0" class="container">
    <tr>
        <td class="content">
            <h1>Здравствуйте!</h1>
            <p>ПАО «Томскэнергосбыт» переходит на новый формат общения с должниками и начинает SMS-информирование бытовых потребителей г. Томска, имеющих задолженность за потреблённую электроэнергию.</p>
            <p>Уведомления о задолженности получат потребители, несвоевременно оплачивающие квитанции, и накопившие долги перед гарантирующим поставщиком. В SMS-сообщении абонентам указывается: кто отправил сообщение – ПАО «Томскэнергосбыт», информация о сумме долга и номер телефона контакт-центра 48-47-87.</p>
            <p>Позвонив по указанному номеру, должники получат полную информацию о размере задолженности, способах погашения долга и способах оплаты.</p>
            <p>По итогам 9 месяцев 2016 года дебиторская задолженность потребителей перед ПАО «Томскэнергосбыт» составила 319 млн рублей, из них 181,7 млн рублей – долги жителей областного центра.</p>
        </td>
    </tr>
</table>