<table align="center" cellspacing="0" cellpadding="0" border="0" class="container">
    <tr>
        <td class="footer">
            <table cellspacing="0" cellpadding="0" border="0" class="container">
                <tr>
                    <td>
                        <i class="icon"><img src="unsubscribe.png" alt=""></i>
                        <a href="#">Отписаться от рассылки</a>
                    </td>
                    <td>
                        <i class="icon"><img src="phone.png" alt=""></i>Телефон: +7 (3822) 48-47-87
                    </td>
                    <td>Мы в соцсетях:</td>
                </tr>
                <tr>
                    <td>
                        <i class="icon"><img src="url.png" alt=""></i>
                        <a href="www.ensb.tomsk.ru">www.ensb.tomsk.ru</a>
                    </td>
                    <td>
                        <i class="icon"><img src="email.png" alt=""></i>E-mail: <a href="#">secretar@ensb.tomsk.ru</a>
                    </td>
                    <td>
                        <a href="#" class="social-icon">
                            <img src="fb.png" alt="">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="vk.png" alt="">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="tw.png" alt="">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>